@import url('setup/vars.css');
@import url('setup/typography.css');


@import url('basics/base.css');
@import url('basics/layout.css');


@import url('components/logo.css');
@import url('components/main-header.css'); 
@import url('components/cards.css');
@import url('components/prev-next.css');
@import url('components/footer.css');
@import url('components/modal.css');

@import url('setup/mq.css');