.card {
    position: relative;

    &:hover::after,&:hover::before {
        scale: 1 1;
    }

    >h2 {
        align-self: center;
        color: var(--clr-h2);
        text-transform: uppercase;
    }

    >p{
        padding-left:3px;
    }

    >button {
        color: var(--clr-continue-btn);
        border: 2px solid var(--clr-continue-btn);
        border-radius: 20px;
        background-color: white;
        justify-self: center;
        margin-bottom: 5px;
        width: max-content;
        padding: 2px 20px;

        >i {
            display: none;
            padding-left: 5px;
        }

        &:hover {
            cursor: pointer;
            color: var(--clr-green);
            border-color: var(--clr-green);

            >i {
                display: inline-block;
            }
        }

    }
}

.card::after,
.card::before {
    content: "";
    position: absolute;
    background-color: var(--clr-green);

    transition: 0.3s;
}

.card::after {
    right: -2px;
    width: 3px;
    height: 100%;
    scale: 1 0;
}

.card::before {
    bottom: -2px;
    width: 100%;
    height: 3px;
    scale: 0 1;
}