

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bgc-header);
    color: white;
    text-align: center;
    font-size: large;
    width: 70%;
    height: max-content;
    padding: 40px 20px ;
    >p{
        color: grey;
    }
    >input,label{
        width: 40%;
        height: 40px;
        font-size: 30px;
    }
    
}