
.main-layout{
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1000px) minmax(16px, 1fr);

    >header{
        grid-column: 1/-1;
    }

    >.main-content{
        grid-column: 2 / -2;
    }

    >footer{
        grid-column: 1/-1;
    }
}

.main-header{
    display: grid;
    align-items: center;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 500px) minmax(auto, 500px) minmax(16px, 1fr);

    >h1{
        grid-column:2;
    }

    >.main-nav{
    display: flex;
    flex-direction: row;
    }
}

.main-content{
    display: grid;
    margin: 80px 0;
    gap: 60px;
}

.card{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    >img{
        grid-row: 1/ span 3;
    }
}